<div class="contact-section" id="contact_us">
    <h2>Contact Us</h2>
    <div class="vsm-contact-deatails">
      <div id="vsm-adress">
        <span>ADDRESS:</span>
        <a
          href="https://www.google.com/maps/place/Vidyadaan+Sahayyak+Mandal+(VSM),+Thane/@19.201362,72.973014,16z/data=!4m6!3m5!1s0x3be7b93c4e7692a5:0xb5afb7f2fbd4e27c!8m2!3d19.2013619!4d72.9730141!16s%2Fg%2F11dxlg21f9?hl=en&entry=ttu"
          target="_blank"
        >
          Vidyadaan Sahayyak Mandal (VSM Thane) Office No. 2, 1st Staircase,
          1st floor, Khopat ST Stand building, Khopat, Thane, Maharashtra,
          India – 400602
        </a>
      </div>
      <div id="vsm-email-phone">
        <span>PHONE:</span>
        <a href="tel:+91-9987437446">+91-9987437446</a>
        <span>EMAIL ADDRESS:</span>
        <a href="mailto:info@vsmthane.org">info@vsmthane.org</a>
      </div>
    </div>

    <form action="#" method="post" class="contact-form">
      <input
        type="text"
        name="name"
        placeholder="Enter your Name"
        required
      />
      <input
        type="email"
        name="email"
        placeholder="Enter your Email"
        required
      />
      <input
        type="tel"
        name="phone"
        placeholder="Enter your Mobile Number"
      />
      <textarea
        name="message"
        placeholder="Reason to contact"
        required
      ></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
