<section class="contact-us">
  <div class="contact-us-body">
      <div class="contact-us-left">
              <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3767.858951342629!2d72.973014!3d19.201362!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb5afb7f2fbd4e27c!2sVidyadaan%20Sahayyak%20Mandal%20(VSM)%2C%20Thane!5e0!3m2!1sen!2sin!4v1647144863631!5m2!1sen!2sin"
              width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          <p>102, First Floor,</p>
          <p>S.T.Stand, Khopat, Thane(W)-400602</p>
          <p>Phone: +91 9987-437-446</p>
          <p>Email: info@vsmthane.org</p>  
      </div>
      <div class="contact-us-right">
                <h2>Send SMS</h2>
                <form (ngSubmit)="sendSms(smsForm)" #smsForm="ngForm">
                   <div>
                      <label for="name">Name:</label>
                      <input 
                        type="text" 
                        id="name" 
                        [(ngModel)]="smsData.name" 
                        name="name" 
                        required 
                        #name="ngModel">
                      <div *ngIf="name.invalid && name.touched" class="error">
                        *Name is required.
                      </div>
                   </div>
                   <div>
                    <label for="phonenumber">Phone Number:</label>
                    <input type="text" id="phoneNumber"  [(ngModel)]="phoneNumber" name="phonenumber" 
                    required #phonenumber="ngModel">
                    <div *ngIf="phonenumber.invalid && phonenumber.touched" class="error">
                      *Phone Number is required.
                    </div>
                  </div>
                  <div>
                    <label for="message">Message:</label>
                    <textarea 
                      id="message" 
                      [(ngModel)]="smsData.message" 
                      name="message" 
                      required 
                      #message="ngModel">
                    </textarea>
                    <div *ngIf="message.invalid && message.touched" class="error">
                      *Message is required.
                    </div>
                  </div>
                  <button type="submit" [disabled]="smsForm.invalid">Send SMS</button>
                </form>
                <p *ngIf="response">{{ response }}</p>            
            </div>
        </div>
</section>
