<footer>
    <div class="footer-imaginary-row">
      <div class="footer-col">
        <h4>Important Links</h4>
        <ul>
          <li><a href="https://vsmthane.org/" target="_blank">VSM Website</a></li>
          <li><a href="https://vawesomes.wordpress.com" target="_blank">Vawesomes</a></li>
          <li><a href="https://www.instagram.com/p/C_iEXheIEDX/?igsh=NmlkYTY0ZjUxcmo2" target="_blank">Be Frank Instagram</a></li>
          <!-- <li><a href="#">XYZ Link 4</a></li> -->
        </ul>
      </div>
    </div>
    <div class="footer-imaginary-row">
      <div class="footer-col">
        <h4>Contact Us</h4>
        <ul>
          <li>
            <a
              href="https://www.google.com/maps/place/Vidyadaan+Sahayyak+Mandal+(VSM),+Thane/@19.201362,72.973014,16z/data=!4m6!3m5!1s0x3be7b93c4e7692a5:0xb5afb7f2fbd4e27c!8m2!3d19.2013619!4d72.9730141!16s%2Fg%2F11dxlg21f9?hl=en&entry=ttu"
              target="_blank"
            >
              Vidyadaan Sahayyak Mandal (VSM Thane) Office No. 2, 1st
              Staircase, 1st floor, Khopat ST Stand building, Khopat, Thane,
              Maharashtra, India – 400602
            </a>
          </li>
          <li><a href="tel:+91-9987437446">+91-9987437446</a></li>
          <li><a href="mailto:info@vsmthane.org">info@vsmthane.org</a></li>
          <li>
            <a
              href="https://www.facebook.com/vsmthane/"
              target="_blank"
              id="facebook"
              ><img
                src="assets\default_facebook.png"
                alt="Facebook"
            /></a>
            <a
              href="https://www.instagram.com/vsmthane/"
              target="_blank"
              id="instagram"
              ><img
                src="assets\default_instagram.png"
                alt="Instagram"
            /></a>
            <a
              href="https://www.youtube.com/user/vsmthane"
              target="_blank"
              id="youtube"
            >
              <img
                src="assets\default_youtube.png"
                alt="YouTube"
              />
            </a>
            <a
              href="https://www.linkedin.com/company/vsmthane/?originalSubdomain=in"
              target="_blank"
              id="linkedin"
            >
              <img
                src="assets\default_linkedin.png"
                alt="LinkedIn"
              />
            </a>
            <a href="https://www.twitter.com" target="_blank" id="twitter"
              ><img
                src="assets\default_twitter.png"
                alt="Twitter"
            /></a>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>If you wish to pay through UPI</h4>
        <img src="assets\VSM_UPI_QR-300x300.jpg" alt="QR Code" />
      </div>
    </div>
  </footer>