<header>
  <div class="logo">
    <img src="assets\vsmthane-logo - Copy.jpg" alt="">
  </div>
    <div class="header-element">
      <input type="checkbox"  id="toggle-check">
      <label for="toggle-check"><span class="material-symbols-outlined">menu</span></label>
      <ul>
        <label for="toggle-check"><span class="material-symbols-outlined">close</span></label>
        <li><a routerLink='home' routerLinkActive="highlight">Home</a></li>
        <li><a routerLink="events" routerLinkActive="highlight">Events</a></li>
        <li><a routerLink="about-us" routerLinkActive="highlight">About Us</a></li>
        <li><a routerLink="contact_us" routerLinkActive="highlight">Contact Us</a></li>
        <button class="login-button" (click)="openLoginPage()"><span class="material-symbols-outlined login-icon">login</span>Login</button>
        <li><a routerLink="userPage" routerLinkActive="highlight">Users</a></li>
      </ul>
    </div>
   
  </header>