* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: rgb(123, 181, 228);
    background: linear-gradient(rgb(92, 158, 211), rgb(175, 197, 232));
    padding: 1rem 5%;
    position: sticky;
    top: 1px;
}

.header-element {
    /* background-color: rgb(115, 115, 159); */
    text-decoration: none;
    padding: 0px 2%;
    display: flex;
    justify-content: space-between;
}

.header-element ul {
    display: flex;
    justify-content: space-evenly;
}

.header-element ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
}

.header-element ul li a {
    text-decoration: none;
    color: black;
    font-size: medium;
    /* font-size: large; */
    display: block;
    text-align: center;
    width: 7rem;
}

.button:hover {
    background-color: rgb(204, 18, 18);
    cursor: pointer;
}

.header-element ul li a:hover {
    color: rgb(61, 60, 60);
}

.highlight{
    border-bottom:2px solid green;
}