.container{
    width:100%;
    height:100%;
    padding:0px 20px;
    background:#E8F2FF;
    overflow: scroll;
}
.back-Button{
    background-color:none;
    cursor: pointer;
}
.video-url-container{
    padding:20px;
    background-color: rgb(170, 223, 205);
}
.video-container{
    display: flex;
    align-items: center;
    height:100px;
    padding:0px 0px;
    background-color: rgb(204, 204, 234);
    border-radius:8px;
    box-shadow: 3px 3px 10px black;
    margin:15px 0px;
    text-decoration: none;
    color: black;
}

.thumbnail {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:28px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 50%;
    pointer-events: none;
  }
  

  
.video-container h4{
    margin-left: 20px;
}
.video-container .thumbnail{
    height:100%;
    width: 200px;
    border-radius: 4px;
}
.video-container .thumbnail img{
    width: 100%;
    height:100%;
    border-radius: 4px;
}
.title{
    text-transform: capitalize;
    margin:0px auto;
    margin:15px;
}

.delete-button{
    cursor: pointer;
    margin:0px 20px;
}

.back-delete-button{
    display: flex;
    justify-content: space-between;
    padding:10px 0px 0px 0px;
}

.decription{
    box-sizing: border-box;
    padding:10px 20px;
    text-align: justify;
    text-indent: 50px;
    font-weight:600;
    color: rgb(58, 56, 56);
}
