<div class="container">   
    <div class="back-delete-button">
        <span class="material-symbols-outlined back-Button" (click)="goBackTodashboard()">arrow_back</span>
        <span *ngIf="token" class="material-symbols-outlined delete-button" (click)="deleteEvent(event._id,event.title)">delete</span>
    </div>
    <h1 id="title">{{event.title}}</h1>
    <b>{{formatDate(event.timeStamp)}}</b>
    <div class="decription">
        {{event.desc}}
    </div>
    <app-image-gallery  [images]="images"></app-image-gallery>
    <div class="video-url-container">
        <h2>Videos</h2>
        <a class="video-container" href="{{vid.vidUrl}}" target="_blank" *ngFor="let vid of event.vidArrUrl;let i=index">
          <div class="thumbnail">
            <img [src]="'https://img.youtube.com/vi/' + extractVideoId(vid.vidUrl) + '/maxresdefault.jpg'" alt="YouTube Video Thumbnail">
            <div class="play-button">&#9658;</div>
          </div>
          <div class="titel">
            <h4>{{i+1+"."+vid.vidTitle}}&nbsp;&nbsp;{{formatDate(event.timeStamp)}}</h4>
            <p>{{vid.vidDesc}}</p>
          </div>
          </a>
    </div>
</div>
