<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Event Title:</label>
    <input id="title" formControlName="title">
    <!-- <div *ngIf="postForm.get('title').invalid && postForm.get('title').touched">
      Title is required.
    </div> -->
  </div>
  
  <div>
    <label for="desc">Event Description:</label>
    <textarea id="desc" formControlName="desc"></textarea>
    <!-- <div *ngIf="postForm.get('body').invalid && postForm.get('body').touched">
      Body is required.
    </div> -->
  </div>
    
  <div>
    <label for="addedByUserName">Added By UserName:</label>
    <input type="text" id="addedByUserName" formControlName="addedByUserName">
    <!-- <div *ngIf="postForm.get('body').invalid && postForm.get('body').touched">
      Body is required.
    </div> -->
  </div>

  <div>
    <label for="role">Role:</label>
    <input type="text" id="role" formControlName="role">
    <!-- <div *ngIf="postForm.get('body').invalid && postForm.get('body').touched">
      Body is required.
    </div> -->
  </div>

  <form [formGroup]="vidForm" (ngSubmit)="addVidurl()">
    <label for="vidTitle">Video Title:</label>
    <input type="text" id="vidTitle" formControlName="vidTitle">

    <label for="vidUrl">Video Url:</label>
    <input type="text" formControlName="vidUrl" id="vidUrl">

    <label for="vidDesc">Video Description:</label>
    <input type="text" formControlName="vidDesc" id="vidDesc">

    <button type="submit">Add</button>

  </form>

  <form [formGroup]="imgForm" (ngSubmit)="addImageurl()">
    <label for="imgUrl">Select images:</label>
    <input type="file"  id="imgUrl" (change)="onFileSelected($event)">
    <div id="images">
      <img src="{{ selectedImage }}" alt="">
      <button *ngIf="selectedImage" (click)="uploadImage()">Upload Image</button>
      <button *ngIf="selectedImage" (click)="deleteImage()">Delete Image</button>
      <b *ngIf="uploadedImage">Image Uploaded</b>
    </div>

    <label for="imgTitle">Image Title:</label>
    <input type="text" id="imgTitle" formControlName="imgTitle">

    <label for="imgDesc">Image Description:</label>
    <input type="text" formControlName="imgDesc" id="imgDesc">

    <button type="submit">Add</button>
  </form>

  <button type="submit" >Submit</button>
</form>
<!-- [disabled]="postForm.invalid" -->