
<button (click)="closeDialog()">close</button>
<div class="container">
  <h2>Create Post</h2>
  <form [formGroup]="postForm" (ngSubmit)="submitForm()" enctype="multipart/form-data">
    <mat-form-field class="full-width">
      <input matInput formControlName="title" placeholder="Title">
      <mat-error *ngIf="postForm.controls['title'].hasError('required')">Title is required</mat-error>
      <mat-error *ngIf="postForm.controls['title'].hasError('maxlength')">Title cannot exceed 1000 characters</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput formControlName="desc" placeholder="Description"></textarea>
      <mat-error *ngIf="postForm.controls['desc'].hasError('required')">Description is required</mat-error>
      <mat-error *ngIf="postForm.controls['desc'].hasError('maxlength')">Description cannot exceed 5000 characters</mat-error>
    </mat-form-field>
    <!-- Image URL FormArray -->
    <div formArrayName="imgUrl">
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
      <div *ngFor="let img of imgUrlControls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field class="full-width">
            <input matInput formControlName="imgTitle" placeholder="Image Title">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="imgUrl" placeholder="Image URL">
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="imgDesc" placeholder="Image Description"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- Video URL FormArray -->
    <div formArrayName="vidArrUrl">
      <div *ngFor="let vid of vidArrUrlControls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field class="full-width">
            <input matInput formControlName="vidTitle" placeholder="Video Title">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="vidUrl" placeholder="Video URL">
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="vidDesc" placeholder="Video Description"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-form-field class="full-width">
      <input matInput formControlName="addedByUserName" placeholder="Added By User Name">
      <mat-error *ngIf="postForm.controls['addedByUserName'].hasError('required')">Added By User Name is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput formControlName="role" placeholder="Role">
      <mat-error *ngIf="postForm.controls['role'].hasError('required')">Role is required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
