
/* ---------------------------------------------------------------- */
/* --------------------First Main Below Header-------------------- */
/* ---------------------------------------------------------------- */

.slider-container {
    width: 100%;
    max-height:470px;
    overflow: hidden;
    position: relative;
    border: none;
}
  
  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    transition: opacity 1s;
  }
  
  .slide img,
  .slide video {
    width: 100%;
    height:auto;
    object-fit:auto-fit;
  }
  
  .navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    
  }
  

/* ---------------------------------------------------------------- */
/* --------------------------second Main -------------------------- */
/* ---------------------------------------------------------------- */

.second-main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.second-main-content p {
    font-size: 24px;
}

.second-main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.second-main-carts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.second-main-carts:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    width: 300px;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    box-shadow:5px 5px 10px rgba(65, 64, 62, 0.8);
    scroll-behavior: smooth;
    cursor: pointer;
    position: relative;
}

.cart img {
    height: 150px;
    border-radius: 10px;
}

.cart h6 {
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.cart p {
    font-size: 12px;
    text-align: center;
}

.cart:hover{
    transform: scale(1.04);
    transition: 100ms ease-in-out;
}

#pin{
    position: absolute;
    top: 0%;
    width:70px;
    height: auto;
}
.material-symbols-outlined{
    background-color: rgb(24, 23, 23);
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.material-symbols-outlined:hover {
    background-color: #ddd;
    color: black;
    font-size: 24px;
  }

