<div class="main" id="home">
    <div class="first-main-content" >
      <div class="first-main-content-left">
        <h1>Empower Students, Empower Nation</h1>
        <p>VSM is a thinking...</p>
      </div>

      <div class="first-main-content-right">
        <img src="/assets/together_study.png" alt="img" />
      </div>
    </div>

    <div class="second-main-content">
      <div class="second-main-text">
        <p>Our Recent Be Frank</p>
      </div>
      <div class="second-main-carts">
        <div class="cart" *ngFor="let event of recentEvents" (click)="openEvent(event)">
          <img src={{event.imgUrl[0].imgUrl}} alt="img" />
          <h6>{{event.title}}</h6>
          <p>{{event.timeStamp}}</p>
          <p>
            {{event.desc}}
          </p>
        </div>

      </div>
    </div>
   
  </div>
