<div class="main" id="home">

    <div class="slider-container">
      <div class="slider-wrapper" [style.transform]="transformStyle">
        <!-- Image Slides -->
        <div class="slide">
          <img src="assets\img_snow_wide.jpg" alt="Image 1">
        </div>
        <div class="slide">
          <img src="assets\img_nature_wide.jpg" alt="Image 2">
        </div>
        <div class="slide">
          <img src="assets\img_snow_wide.jpg" alt="Image 3">
        </div>
    
       <!-- Video Slide -->
    <div class="slide">
      <video #videoSlide width="100%" (play)="pauseAutoplay()" (pause)="resumeAutoplay()">
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
      </video>
    </div>
  </div>>
    
      <!-- Controls -->
      <div class="navigation">
        <button (click)="prevSlide()"><span class="material-symbols-outlined">arrow_back</span></button>
        <button (click)="nextSlide()"><span class="material-symbols-outlined">arrow_forward</span></button>
      </div>
    </div>
    



    <div class="second-main-content">
      <div class="second-main-text">
        <p>Our Recent Be Frank</p>
      </div>
      <div class="second-main-carts">
        <div class="cart" *ngFor="let event of recentEvents" (click)="openEvent(event)">
          <img src="assets\pin.png" alt="" id="pin">
          <img src={{event.imgUrl[0].imgUrl}} alt="img" />
          <h6>{{event.title}}</h6>
          <p>{{formatDate(event.timeStamp)}}</p>
        </div>

      </div>
    </div>
   
  </div>
