* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
/* ---------------------------------------------------------------- */
/* --------------------First Main Below Header-------------------- */
/* ---------------------------------------------------------------- */

.first-main-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(rgb(175, 197, 232), rgb(131, 169, 200));
    height: 600px;
}

.first-main-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 200px;
    text-align: center;
}

.input-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    border: transparent;
    text-align: center;
    border-radius: 25px;
    height: 25px;
    padding: 15px 12px 15px 24px;
    margin-top: 24px;
}

.input-search input {
    border:none;
    outline: none;
    padding: 7px;
    border-radius: 10px;
    width: 58%;
}

.input-search button {
    background-color: rgb(242, 41, 15);
    color: white;
    padding: 12px;
    border-radius: 20px;
    border: 50px;
}

.first-main-content-right {
    display: flex;
    justify-content: center;
    width: 300px;
}

/* ---------------------------------------------------------------- */
/* --------------------------second Main -------------------------- */
/* ---------------------------------------------------------------- */

.second-main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(239, 238, 238);
    background-color: rgb(28, 28, 28);
    color: white;
    padding: 2rem;
}

.second-main-content p {
    font-size: 24px;
}

.second-main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.second-main-carts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.second-main-carts:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(226, 226, 226);
    color: black;
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    border: solid 2px grey;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
    scroll-behavior: smooth;
}

.cart img {
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.cart h6 {
    font-size: 20px;
    cursor: pointer;
}

.cart p {
    font-size: 12px;
    text-align: center;
}

