<div class="conatiner">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="userName">Email:</label>
      <input type="userName" id="userName" [(ngModel)]="gmail" name="userName" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    
    <button type="submit">Login</button>
    <!-- Success Message -->
    <div *ngIf="successMessage" class="success">
      {{ successMessage }}
    </div>
  
    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
  </form>

</div>
