<div class="about-section" id="about_us">
    <h2>About Us</h2>
    <div class="display-flex">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.periores ipsa
      </p>
      <div class="about-section-img">
        <img src="assets/process.png" alt="img" />
      </div>
    </div>

    <h2>About Be Frank Program</h2>
    <div class="display-flex">
      <div class="about-section-img">
        <img
          src="/assets/school2.jpeg"
          alt="img"
          id="about-be-frank-img"
        />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Consectetur,
      </p>
    </div>
  </div>
