.table-container {
    width: 100%;
    margin: 20px auto;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #f5f5f5;
  }
  
  th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #ED7C1C;
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  button {
    background-color:#ED7C1C;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  @media screen and (max-width: 768px) {
    th, td {
      font-size: 14px;
      padding: 8px 10px;
    }
  
    table, thead, tbody, th, td, tr {
      display: block;
      width: 100%;
    }
  
    tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      border: none;
    }
  
    th {
      display: none;
    }
  
    td {
      display: flex;
      justify-content: space-between;
      padding-left: 50%;
      position: relative;
      text-align: right;
      border-bottom: 1px solid #ddd;
    }
  
    td::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      width: 50%;
      padding-left: 10px;
      font-weight: bold;
      text-align: left;
    }
  }
  