.gallery {
    display: flex;
    flex-wrap: wrap;
    margin:20px;
  }
  
  .gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.333% - 10px);
    min-height: 350px;
    box-shadow:5px 5px 10px black;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 15px;
  }
  
  .gallery-item img {
    width:100%;
    border-radius:8px;
    height: auto;
    display: block;
  }
  .gallery-item b{
    margin:10px 0px;
    text-transform: capitalize;
  }
  .gallery-item p{
    width:100%;
    margin:10px 0px;
  }