.container{
    display: flex;
    flex-direction: column;
    row-gap:10px;
    align-items: center;
    background: linear-gradient(rgb(175, 197, 232), rgb(131, 169, 200));
}
.event-stack{
    width:95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 20px 10px 20px;
    background-color: azure;
    overflow: scroll;
    border-radius: 8px;
}
.event-container{
    width:98%;
    height:120px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:8px;
    box-shadow:5px 5px 10px rgb(18, 18, 18);
    box-sizing: border-box;
    cursor: pointer;
    background: linear-gradient(rgb(175, 197, 232), rgb(131, 169, 200));
    margin-top: 15px;
}
.event-container img{
    max-width:25%;
    max-height:98%;
    border-radius:8px;
}

.event-container b{
    margin:0px 20px;
    text-transform: capitalize;
}


.look-event{
    position: fixed;
    width:100%;
    height:100%;
}

button{
    width:80px;
    height:40px;
}

.delete-button{
      cursor:pointer;  
}
.search-button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-button{
    width:100px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight:700;
    margin-right: 20px;
}

.input-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    border: transparent;
    text-align: center;
    border-radius:8px;
    height: 25px;
    padding: 15px 12px 15px 24px;
    margin: 24px 0px 0px 20px;
}

.input-search input {
    border:none;
    outline: none;
    padding: 7px;
    border-radius:4px;
    width:88%;
}

.input-search button {
    cursor: pointer;
    border: none;
    background-color: inherit;
}
