.container{
    display: flex;
    flex-direction: column;
    row-gap:10px;
    align-items: center;
    background: linear-gradient(rgb(175, 197, 232), rgb(131, 169, 200));
    height: 600px;
    padding-top:10px;  
    overflow-y: scroll;
}

.event-container{
    width:90%;
    height:120px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:8px;
    padding:10px;
    box-sizing: border-box;
}
.event-container img{
    width:20%;
    height:95%;
    border-radius:8px;
}

.look-event{
    position: fixed;
    width:100%;
    height:100%;
}

button{
    width:80px;
    height:40px;
}

.delete-button{
      cursor:pointer;  
}
.add-button{
    width:100px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight:700;
}