<div class="container">
    <div class="input-search">
        <input type="text" placeholder="Search for an event name"  [(ngModel)]="searchTerm" />
        <button class="button"><span class="material-symbols-outlined">search</span></button>
    </div>
 <button  class="add-button"   (click)="addEvent()"><span class="material-symbols-outlined">add</span>Add event</button>
    <div class="event-container" *ngFor="let event of post">
        <img src={{event.imgUrl[0].imgUrl}} alt="">
        <b>{{event.title}}</b>
        <button (click)="openEvent(event)">Open</button>
        <span class="material-symbols-outlined delete-button" (click)="deleteEvent(event._id,event.title)">delete</span>
    </div>
</div>


