* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    row-gap:10px;
    align-items: center;
    background: linear-gradient(rgb(175, 197, 232), rgb(131, 169, 200));
    height: 600px;
    padding-top:10px;  
    overflow-y: scroll;
}

.event-container{
    width:90%;
    height:100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:8px;
    padding-left: 10px;
}
.event-container img{
    width:20%;
    height:95%;
    border-radius:8px;
}

.look-event{
    position: fixed;
    width:100%;
    height:100%;
}