.preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .preview-container img {
    max-width: 100%;
    height: auto;
  }
  
  .preview-container button {
    margin: 10px;
  }