.preview-container {
    width:100%;
    height:100%;
    background-color: #ccc;
  }
  .preview-container div{
    width:100%;
    height:98%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .preview-container div img {
    width:85%;
    height:auto;
    object-fit:auto-fit;
  }
  .close-button{
      position: absolute;
      top:10px;
      right:10px;
      cursor: pointer;
  }
  .forword-button{
    cursor: pointer;
    margin:0px 20px;
  }

  .preview-container h3{
    text-align: center;
    text-transform: capitalize;
  }